  /*-- CARTEL DE NEON---*/
  
  $neon-text-color: #f40;
  $neon-border-color: #08f;
   :root {
      font-size: 10px;
      --neon-text-color: #{$neon-text-color};
      --neon-border-color:#{$neon-border-color};
  }
  
  .contenedorMain {
      color: $color-fuente;
      .main-section-intro {
          background-image: url("../recursos/fondocanva.png");
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          min-height: 88vh;
          .frase-a {
              @include frases;
              position: absolute;
              right: 150px;
              top: 220px;
          }
          .frase-ab {
              @include frases;
              position: absolute;
              right: 150px;
              top: 220px;
              display: none;
          }
          .frase-b {
              @include frases;
              position: absolute;
              right: 100px;
              top: 315px;
          }
      }
      .main-section-week {
          background-image: url(https://img.freepik.com/foto-gratis/fondo-papel-pintado-pared-ladrillo-negro-viejo_73152-4296.jpg?size=626&ext=jpg);
          background-size: cover;
          background-attachment: fixed;
          background-repeat: no-repeat;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          padding: 20px 0px 20px 0px;
          .tituloMensual {
              font-size: 5rem;
              font-weight: 200;
              font-style: italic;
              color: #fff;
              margin: 2rem 0 2rem 0;
              padding: 1rem 1rem 1rem;
              border: 0.4rem solid #fff;
              border-radius: 2rem;
              text-transform: uppercase;
              animation: flicker 1.5s infinite alternate;
              &::-moz-selection {
                  background-color: var(--neon-border-color);
                  color: var(--neon-text-color);
              }
              &::selection {
                  background-color: var(--neon-border-color);
                  color: var(--neon-text-color);
              }
              &:focus {
                  outline: none;
              }
          }
          .contenedorSeleccion {
              display: flex;
              flex-flow: row wrap;
              justify-content: space-around;
              width: 80%;
              padding: 10px 0px 10px 0px;
              margin-top: 10px;
              z-index: 3;
              .producto {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  padding: 10px 20px 0px 20px;
                  margin-bottom: 10px;
                  &:hover {
                      transform: scale(1.1);
                      transition: 1s;
                  }
                  .textoProducto {
                      color: white;
                      font-family: $fuente-secundaria;
                      font-size: 1.25rem;
                      padding-top: 0.5rem;
                      ul {
                          list-style: none;
                          text-align: center
                      }
                  }
              }
          }
      }
      .main-section-delivery {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          min-height: 50vh;
          .section-delivery-contenido {
              background-color: black;
              border-radius: 10px;
              width: 80%;
              display: flex;
              flex-flow: row wrap;
              margin: 10px;
              padding: 10px;
              padding: 10px;
              justify-content: space-around;
              .paso-1,
              .paso-2,
              .paso-3 {
                  padding: 5px 10px 5px 10px;
                  margin: 5px 10px 5px 10px;
              }
              .icono {
                  font-size: 6rem;
                  text-align: center;
                  margin-bottom: 5px;
              }
              h3 {
                  text-align: center;
                  font-size: 3rem;
                  font-family: $fuente-principal;
              }
              p {
                  text-align: center;
                  font-size: 1.2rem;
                  font-family: $fuente-secundaria;
              }
          }
      }
      .main-section-newsletter {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          min-height: 25vh;
          background-color: #b2936d;
          .formulario-suscripcion {
              padding: 10px;
              margin-bottom: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              .label-suscripcion {
                  font-family: $fuente-secundaria;
                  font-size: 1.9rem;
                  color: $color-fuente;
                  margin-bottom: 10px;
                  padding-bottom: 10px;
                  font-weight: bold;
                  letter-spacing: 0.5rem;
              }
              .contenedor-casilla-email {
                  display: flex;
                  justify-content: center;
                  .input-suscripcion {
                      background-color: $color-fuente;
                      border: 0;
                      font-size: 1.6rem;
                      padding: 10px 10px 0px 10px;
                      border-bottom: 2px solid $color-fuente;
                      width: 35rem;
                      background-color: #b2936d;
                      color: $color-fuente;
                      &:focus {
                          outline: none;
                          background-color: #b2936d;
                      }
                      &::placeholder {
                          color: white;
                          font-family: $fuente-secundaria;
                      }
                  }
                  .button-suscripcion {
                      outline: none;
                      border: 0;
                      background-color: transparent;
                      position: relative;
                      right: 35px;
                      bottom: -3px;
                      .sobre {
                          font-size: 2.3rem;
                          color: $color-fuente;
                          border: 0;
                      }
                  }
              }
          }
      }
  }
  /*-------- EFECTO CARTEL DE NEON --------*/
  
  @keyframes flicker {
      0%,
      19%,
      21%,
      23%,
      25%,
      54%,
      56%,
      100% {
          text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
          box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
      }
      20%,
      24%,
      55% {
          text-shadow: none;
          box-shadow: none;
      }
  }