    /*---------- CELULARES 360x640  412x892---------*/
    
    @media (min-width: 360px) and (max-width: 412px) {
        $size-titulos: 1.8rem;
        $size-bajadas: 1.2rem;
        @mixin frases {
            background-color: $color-secundario;
            color: $color-fuente;
            font-family: $fuente-principal;
            font-size: 2.5rem;
            padding: 5px 10px 5px 10px;
            z-index: 3;
            font-weight: bold;
        }
        /*----------HEADER-----------------*/
        .contenedorHeader {
            height: auto;
            .navbar-brand {
                color: $color-fuente;
                font-size: 3.5rem;
                font-family: $fuente-principal;
                font-weight: 700;
            }
        }
        /*--------FOOTER-------------------*/
        .contenedorFooter {
            .contenidoFooter {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                .footer-redes-iconos {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                    & i {
                        font-size: 2.5rem;
                        padding: 5px;
                    }
                }
            }
            .copyright {
                display: none;
            }
        }
        /*-------SOCIAL MEDIA BAR-------*/
        .socialMedia {
            background-color: black;
            display: flex;
            width: 8vw;
            flex-direction: column;
            position: fixed;
            top: 350px;
            align-items: center;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            &:hover {
                width: 8vw;
                transition: none;
            }
            i {
                color: white;
                font-size: 2.5rem;
                padding: 5px;
                &:hover {
                    text-shadow: 1px 1px 2px white, 0 0 30px whitesmoke, 0 0 15px grey;
                }
            }
        }
        /*----------INDEX-----------------*/
        .contenedorMain {
            .main-section-intro {
                .frase-a {
                    @include frases;
                    position: absolute;
                    right: 90px;
                    top: 220px;
                    display: none;
                }
                .frase-ab {
                    @include frases;
                    position: absolute;
                    right: 90px;
                    top: 220px;
                    display: inline;
                }
                .frase-b {
                    @include frases;
                    position: absolute;
                    right: 20px;
                    top: 275px;
                }
            }
            .main-section-week {
                .tituloMensual {
                    font-size: 3.5rem;
                }
                .contenedorSeleccion {
                    .producto {
                        .textoProducto {
                            font-size: $size-bajadas;
                        }
                    }
                }
            }
            .main-section-newsletter {
                .formulario-suscripcion {
                    .label-suscripcion {
                        font-size: 1.5rem;
                        text-align: center;
                    }
                    .contenedor-casilla-email {
                        .input-suscripcion {
                            font-size: 1.2rem;
                            padding: 10px 10px 0px 10px;
                            width: 25rem;
                        }
                        .button-suscripcion {
                            outline: none;
                            border: 0;
                            background-color: transparent;
                            position: relative;
                            right: 25px;
                            bottom: -3px;
                            .sobre {
                                font-size: 2rem;
                                color: $color-fuente;
                                border: 0;
                            }
                        }
                    }
                }
            }
        }
        /*------CATALOGO---------*/
        .contenedorCatalogo {
            .main-catalogo {
                .main-catalogo-section {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    width: 80%;
                    .main-catalogo-section-producto {
                        .catalogo-producto-texto ul {
                            color: $color-secundario;
                            list-style: none;
                            text-align: center;
                            margin-top: 5px;
                            & li {
                                font-size: 1.4rem;
                            }
                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
                .banner {
                    width: 80%;
                    text-align: right;
                    display: none;
                }
            }
        }
        .catalogoTitulo {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            padding: 15px;
            margin: 15px;
            h2 {
                padding: 10px;
                font-family: $fuente-principal;
                font-size: 3rem;
                font-weight: bolder;
                text-align: center;
            }
            hr {
                height: 2px;
                background-color: black;
                width: 10%;
                margin: 10px;
            }
        }
        .catalogoTituloBodega {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            padding: 10px;
            margin: 10px;
            h2 {
                padding: 10px;
                font-family: $fuente-principal;
                font-size: 2rem;
                font-weight: bolder;
                text-align: center;
            }
            hr {
                height: 2px;
                background-color: black;
                width: 2rem;
                margin: 10px;
            }
        }
        /*--------CONTACTO-------*/
        .main-contacto {
            .section-contacto {
                .section-contacto-formulario {
                    width: 40vh;
                }
            }
        }
    }