html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*----------------INDEX-----------------*/

@import "_mixinsVariables";
@import "_estilosHeaderFooter";
@import "_estilosBarraSocialMedia";
@import "_estilosIndex";
@import "_estilosCatalogo";
@import "_estilosContacto";
@import "_estilosExperiencias";